@import "tailwindcss";

html {
  height: 100%;
}

body {
  /*color: theme('colors.typography.DEFAULT');*/
  font-family: dana, serif;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}